:root
{
    /* Color palette */
    --primary-bg: var(--bg-1);
    --bg-1: #05668D;
    --bg-2: #028090;
    --bg-3: #00A896;
    --bg-4: #02C39A;
    --bg-dark: #094385;
    --accent: #F0F3BD;
    --med-dark-text: #464646;
    --dark-text: #252525;
    --med-light-text: #cfcfcf;
}