@import "colorpalette.css";

*
{
    /* Zero margins to fit other containers inside */
    margin: 0px;
    padding: 0px;
}

html
{
    /* Default text */
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.header
{
    background-color: var(--primary-bg);
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    font-weight: bolder;
}

.subtitle
{
    font-size: 0.6em;
    display: block;
}

.imageblock
{
    /* Background image with blur to cover scaling artifacts */
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);

    color: var(--med-dark-text);

    padding: 3rem 20%;
}

.colorbox
{
    background-color: var(--bg-color);
    padding: 0 0 2rem;
    text-align: center;
}

.colorbox h1
{
    font-size: 1.5rem;
    font-weight: normal;
}

a
{
    color: white;
}

a:link, a:visited, a:hover, a:active
{
    color: inherit;
}

.padbox
{
    padding: 2rem 0;
}

.projectbox
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.middlebox
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20%;
}

.imageblock h1
{
    font-size: 2rem;
    font-weight: bolder;
}

.imageblock h2
{
    font-size: 1.5rem;
    font-weight: bold;
}

.imageblock ul
{
    list-style-position: inside;
    padding: 1rem;
}

.horizpad
{
    padding: 0 20%
}

h3
{
    padding: 1rem;
    background-color: var(--bg-color);

    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

h3::before, h3::after
{
    content: "";
    flex-grow: 5;
    height: 0.2rem;
    margin: 0 2rem;
    background-color: white;
}

h4
{
    font-size: 1.5rem;
    font-weight: bold;
}

.bottombox
{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2rem;
}

.copyright
{
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-bg);
}

.listbox
{
    display: flex;
    flex-flow: row;
}

.listbox ul
{
    display: block;
    padding-right: 2rem;
    list-style-position: outside;
    padding-left: 1rem;
}

.largeicon
{
    font-size: 10rem;
}

.medicon
{
    font-size: 5rem;
}
