@import "colorpalette.css";

* {
    /* Zero margins and padding by default */
    margin: 0;
    padding: 0;
}

html {
    /* Default text */
    font-family: 'Open Sans', sans-serif;
    color: white;

    /* Fallback background color */
    background-color: var(--primary-bg);
}

/* Used for page title */
h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
}

/* Used for page subtitle */
h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

/* Used for section headers
   Must be outside of a padbox */
h3 {
    padding: 1rem;

    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;

    /* Flex box for breaking lines */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/* Automatically inserts lines */
h3::before, h3::after {
    content: "";
    flex-grow: 5;
    height: 0.2rem;
    margin: 0 2rem;
    background-color: white;
}

/* Subsection titles */
h4 {
    text-align: left;
    font-size: 1.6rem;
    padding-top: 1rem;
}

/* Subsection subtitles */
h5 {
    text-align: left;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

/* Column headings */
h6 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

ul {
    padding-left: 1em;
}

/* Remove changing link colors */
a:link, a:visited, a:hover, a:active {
    color: inherit;
}

/* Big color sections */
.colorbox {
    background-color: var(--bg-color);
}

/* Big image sections */
.imagebox {
    /* Background image with blur to cover scaling artifacts */
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);

    /* Text color to better contrast image */
    color: var(--med-dark-text);
}

/* Used for content inside a colorbox or imagebox */
.padbox {
    padding: 2rem 2rem;
    max-width: 1152px;
    margin: 0 auto;
}

/* Variant of padbox with no top padding */
.horizpadbox {
    padding: 0 2rem 2rem;
    max-width: 1152px;
    margin: 0 auto;
}

/* Column aligned flex-boxes */
.widebox, .evenbox {
    display: flex;
    flex-direction: row;
    align-items: top;
}

/* Spaced to the edge of the box */
.widebox {
    justify-content: space-between;
}

/* Spaced evenly */
.evenbox {
    justify-content: space-evenly;
}

/* Automatically add padding to children */
.widebox > *, .evenbox > * {
    margin: 0 1rem;
}

/* Medium size FA icon */
.medicon {
    font-size: 3rem;
    margin: 1rem 2rem;
}

/* Large FA icon */
.largeicon {
    font-size: 10rem;
}

/* Centers stuff */
.center {
    text-align: center;
}

/* Youtube embed padding */
iframe {
    padding: 2rem;
}

/* Paragraph line breaks */
p {
    padding-bottom: 1rem;
}
